.spot_formItem {
  margin-bottom: 0;
}

.spot_input {
  border: 1px solid #4E5969;
  border-radius: 6px;
  background: #272A32;
  color: #fff;

  &::placeholder {
    color: #4E5969
  }
}

.spot_type {
  color: #86909C;
  background: #4E5969;
  border-color: transparent !important;

  &__active {
    color: #1D2129 !important;
  }
}

.spot_tabs {
  display: flex;

  .spot_tab {
    padding: 6px 16px;
    text-align: center;
    font-size: 12px;
    color: #86909C;
    background: #252830;
    border: 1px solid #4E5969;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #f8bc25;
    }

    &:first-child {
      border-radius: 6px 0 0 6px;
      border-right-color: transparent;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &__active {
      border-color: #F8BC25 !important;
      background: #252830;
      color: #F8BC25;
    }
  }
}

.spot_styleWrap {
  display: flex;

  .spot_style {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #4E5969;
    border-radius: 6px;
    overflow: hidden;

    .spot_styleImg {
      margin-top: 0;
      width: 100%;
    }
  }
}
